@page "/chat/{chatId:int}"

@attribute [Authorize]

<div class="container">
    <h1>User Chats</h1>
    @if (isLoading && !chatMessages.Any())
    {
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        @if (chatMessages.Any())
        {
                <!----Loop messages from Database---->
                <ul class="message-list">
                    @foreach (var message in chatMessages)
                    {
                        <li>
                            <div class="user-label">
                                <span class="timestamp">[@message.Timestamp.ToLocalTime()]</span>
                                <span class="user-name">@message.UserName:</span>
                                <span class="message-text">@message.Text</span>
                            </div>
                            @if (message.MediaUrl != null)
                            {
                                var extension = chatService.GetFileExtension(message.MediaUrl);
                                var renderer = MediaRendererFactory.GetFileRenderer<ChatMediaResponse>(extension);

                                @if (renderer != null)
                                {
                                    @renderer.RenderFile(message, () => OnResourceLoaded(message));
                                }
                            } 
                        </li>
                    }
                </ul>
        }
        else
        {
                <span>No messages to show!</span>
        }

        if (chatMessages.Any())
        {
            <button @onclick="() => LoadMoreMessages()" class="btn btn-primary" type="button" disabled="@isLoading">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Loading...</span>

                }
                else
                {
                    <span>Load older messages</span>
                }
            </button>
        }
    }

        <!----Loop messages from real time server---->
        <ul class="message-list">
            @foreach (var message in chatHubService.Messages)
            {
            <li>
                <div class="user-label">
                    <span class="timestamp">[@message.Timestamp.ToLocalTime()]</span>
                    <span class="user-name">@message.UserName:</span>
                    <span class="message-text">@message.Text</span>
                </div>
                @if (message.MediaUrl != null)
                {
                    var extension = chatService.GetFileExtension(message.MediaUrl);
                    var renderer = MediaRendererFactory.GetFileRenderer<ChatMessageDTO>(extension);

                    @if (renderer != null)
                    {
                        @renderer.RenderFile(message, () => OnResourceLoaded(message));
                       
                    }
                }
            </li>
        }
        </ul>
        <br />
        <div>
            <textarea @bind="newMessage.Text" class="message-textarea"></textarea>
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <InputFile OnChange="HandleSelected" class="form-control" type="file" id="formFile"></InputFile>
            </div>
            <button class="send-button" @onclick="SendMessageToGroup">
                Send
            </button>
        </div>
</div>
